<!-- index.html -->
<!DOCTYPE html>

<html lang="en" ng-app="firstApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Node/Angular Todo App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="angular-dragdrop.min.js"></script>
    <script src="core.js"></script>
</head>
<body ng-controller="mainController">
<!------------------------------------------------>
<!--------------- Navigation Bar ----------------->
<!------------------------------------------------>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">OfficeDay</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!------------------------------------------------>
<!--------------- KanBan Board ------------------->
<!------------------------------------------------>
<div class="container-fluid">
    <div class="row">
        <div class="panel panel-primary kanban-col">
            <div class="panel-heading" contenteditable="true">
                TODO
            </div>
            <div class="panel-body">
                <div id="TODO" class="kanban-centered" ng-repeat="task in tasks">
                    <article class="kanban-entry grab" id="item1" draggable="true">
                        <div class="kanban-entry-inner">
                            <div class="kanban-label">
                                <h2><a href="#">{{ task.title }}</a> <span>{{ task.content }}</span></h2>
                                <p>first task</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addCardModal">Add Card</button>
            </div>
        </div>

        <div class="panel panel-primary kanban-col">
            <div class="panel-heading">
                DOING
            </div>
            <div class="panel-body">
                <div id="DOING" class="kanban-centered">

                    <article class="kanban-entry grab" id="item5" draggable="true">
                        <div class="kanban-entry-inner">

                            <div class="kanban-label">
                                <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                                <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
                            </div>
                        </div>
                    </article>

                </div>
            </div>
            <div class="panel-footer">
                <a href="#">Add a card...</a>
            </div>
        </div>

        <div class="panel panel-primary kanban-col">
            <div class="panel-heading">
                DONE
            </div>
            <div class="panel-body">
                <div id="DONE" class="kanban-centered">

                    <article class="kanban-entry grab" id="item7" draggable="true">
                        <div class="kanban-entry-inner">

                            <div class="kanban-label">
                                <h2><a href="#">Art Ramadani</a> <span>posted a status update</span></h2>
                                <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
                            </div>
                        </div>
                    </article>

                </div>
            </div>
            <div class="panel-footer">
                <a href="#">Add a card...</a>
            </div>
        </div>
        <!--sütun bitiş-->


    </div>
</div>

<!-- Add Card Modal -->
<div id="addCardModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <input ng-model="newContent">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addTask()">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

</body>
</html>